@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    background: #000;
    color: #fff;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.header {
    padding: 250px 0 0 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    font-size: 32px;
    font-weight: 700;
}

.header__info {
    opacity: .3;
}

.main {
    margin: 50px 0 0 0;
}

.main__ask {
    font-weight: 500;
    font-size: 24px;
    margin: 0 0 20px 0;
}

.main__answer {
    margin: 0 0 20px 0;
}

.main__label {
    font-size: 18px;
}

#count {
    padding: 10px 15px;
    border-radius: 8px;
    background: rgb(21, 21, 21);
    border: 1px solid rgb(73, 73, 73);
    border-bottom: 1px solid rgb(121, 121, 121);
    color: #fff;
    transition: 125ms ease-in-out;
}

#count:focus {
    border: 1px solid rgb(0, 34, 255);
    border-bottom: 1px solid rgb(84, 107, 255);
}

#count:hover {
    border: 1px solid rgb(0, 34, 255);
    border-bottom: 1px solid rgb(84, 107, 255);
}

.main__button {
    padding: 10px 15px;
    border-radius: 8px;
    background: rgb(21, 21, 21);
    border: 1px solid rgb(73, 73, 73);
    border-bottom: 1px solid rgb(121, 121, 121);
    color: #fff;
    transition: 125ms ease-in-out;
}

.main__button:hover {
    border: 1px solid rgb(0, 34, 255);
    border-bottom: 1px solid rgb(84, 107, 255);
}

.main__button:disabled {
    opacity: 0.5;
}

.main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__error {
    color: #b60000;
}

.main__end {
    margin: 20px 0 0 0;
    font-weight: 700;
    font-size: 24px;
}

.main__wrapper {
    height: 300px;
}